<div class="well">
  <h1>About Me</h1>

  <div class="projimg">
    <img class="imgoffset" src="../img/meirl.jpg">
  </div>
  <p class="copy">
    I am full-stack web developer with a history in the game industry. As a developer, I use my deep technical background, creative talents, and design instincts to deliver elegant and beautiful solutions.
  </p>

  <p class="copy">
    In addition to my experience as a full stack developer, I have an extensive technical background and game development background. I have developed content for premier game titles and supported large scale commercial projects with millions of users worldwide.
  </p>

  <p class="copy">
    I am endlessly curious, learn new skills quickly, I'm feircly creative.
  </p>

  <p class="copy">
    and I want to work for <strong>you</strong>
  </p>

  <div class="row">
    <div class="col-md-4">
        <h2>Experience</h2>
        <ul class="list-group">
          <li class="list-group-item">Full Stack Web Development</li>
          <li class="list-group-item">Git Master</li>
          <li class="list-group-item">Game programming and design</li>
          <li class="list-group-item">Software testing and Quality Assurance</li>
        </ul>
    </div>    
    <div class="col-md-4">
      <h2>Languages</h2>
        <ul class="list-group">
          <li class="list-group-item">Javascript</li>
          <li class="list-group-item">C#</li>
          <li class="list-group-item">Ruby</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Web Frameworks</h2>
        <ul class="list-group">
          <li class="list-group-item">Express</li>
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">Node.js</li>
          <li class="list-group-item">Ruby on Rails</li>
          <li class="list-group-item">Meteor</li>
        </ul> 
    </div>
    
  </div>


  <div class="row">
    <div class="col-md-6">
      <h2>Databases</h2>
      <ul class="list-group">
        <li class="list-group-item">PostgreSQL</li>
        <li class="list-group-item">MongoDB</li>
      </ul>
    </div>

    <div class="col-md-6">
    <h2>More Skills</h2>
      <ul class="list-group">
        <li class="list-group-item">VR</li>
        <li class="list-group-item">Test-Driven Development</li>
        <li class="list-group-item">Illustration</li>
        <li class="list-group-item">3D Modeling</li>
      </ul>
    </div>


  </div>






</div>