<div class="well">
<h1>Previous professional work</h1>

<h2>Forza Motorsports</h2>
<div class="projimg">
  <img src='../img/fzmsp.png'>  
</div>
<!-- <b>Role: Track Designer</b>
s -->
    <div class='nameTag gradient'>
      <h1 style="font-family: sans-serif;">ROLE:</h1>
      <h3 class='marker'>Track Designer</h3>
    </div>
<b>Platform: Xbox One</b>
<p>
As a part of the track design team, I created AI splines for both of the new DLC tracks: VIR and Homestead Raceway.
Each track has multiple layouts, each requiring several splines for each configuration. Authoring these required in-depth research and hours of fine tuning.
Additionally, I authored internal tools to aid designers in content creation, and pitched future game content.</p>  

<h2>Plants vs Zombies 2 / Bejeweled Blitz</h2>
<div class="projimg">
  <img src='../img/blitz.jpg' style="max-width: 25%; max-height: 25%">  
</div>
    <div class='nameTag gradient'>
      <h1 style="font-family: sans-serif;">ROLE:</h1>
      <h3 class='marker'>QA Analyst</h3>
    </div>
<b>Platforms: IOS, Android, Facebook</b>
<p>As a QA Analyst at Popcap, I tested new features for the studio's premier titles; Bejeweled Blitz and Plants Vs Zombies 2. Both games required testing on multiple platforms for mobile and web. On both games I was embedded directly with engineers and designers working on 2 week sprints. I wrote testing plans and test cases for offsite QA teams, did manual testing for certain features, and did investigative testing on trickier bugs</p>

<h2>Deer Hunter 2014</h2>
<div class="projimg">
  <img src='../img/deerhunt.png'>  
</div>
    <div class='nameTag gradient'>
      <h1 style="font-family: sans-serif;">ROLE:</h1>
      <h3 class='marker'>Mission Designer</h3>
    </div>
<b>Platforms: IOS, Android</b>
<p>
As a mission designer for Deer Hunter, I was responsible for many elements of each update including theming, level and mission creation, guns, and sometimes getting creative. I shipped 10 monthly updates, each one consisting of about 90 missions. For 2014, Deer Hunder was consistantly ranked in the top 200 grossing of iOS's app store, with millions of dollars in yearly revenue and hundreds of thousands of daily users.</p>

</div>

  