
<div class="row" style="display: inline-block;">
  <div class="col-md-5 offset-md-3">
    <div class='nameTag gradient'>
      <h1 style="font-family: sans-serif;">Hello, my name is:</h1>
      <h1 class='name'>Leo Burke</h1>
    </div>
  </div>

  <div class="col-md-6">
    <div class="badge gradientBlue">
      <h1 style="font-family: sans-serif; text-align: left">Leo Burke</h1>
      <h4 style="font-family: sans-serif; text-align: left;">Full Stack Web Developer</h4>
    <!--   <h4 style="font-family: sans-serif; text-align: left;">Web Developer</h4> -->

      <img class="headshot" src="../img/meirl.jpg">
    </div>
  </div>
</div>





<div class="well">

<div class="projimg">

    

</div>

<div class="well">
    <p class="copy">
    I am full-stack web developer with a history in the game industry. As a developer, I use my deep technical background, creative talents, and design instincts to deliver elegant and beautiful solutions.
  </p>

  <p class="copy">
    In addition to my experience as a full stack developer, I have an extensive technical background and game development background. I have developed content for premier game titles and supported large scale commercial projects with millions of users worldwide.
  </p>

  <p class="copy">
    I am endlessly curious, learn new skills quickly, I'm very creative.
  </p>

  <p class="copy">
    and I want to work for <strong>you</strong>
  </p>
</div>


  <div class="row">



    <div class="col-md-4">
      <div class='nameTagRight gradient'>
        <h1 style="font-family: sans-serif;">Languages</h1>
        <h3 class="marker">Javascript</h3>
        <h3 class="marker">C#</h3>
        <h3 class="marker">Ruby</h3>
        <h3 class="marker">Python</h3>
      </div>
    </div>


    <div class="col-md-4">
      <div class='nameTag gradient'>
        <h1 style="font-family: sans-serif;">Frameworks</h1>
        <h3 class="marker">Angular!</h3>
        <h3 class="marker">Express!</h3>
        <h3 class="marker">Node</h3>
        <h3 class="marker">And many more!</h3>
      </div>
    </div>


        <div class="col-md-4">
      <div class='nameTagRight gradientBlue'>
        <h1 style="font-family: sans-serif;">Experience</h1>
        <h3 class="marker">Full Stack Web Development</h3>
        <h3 class="marker">Git Master</h3>
        <h3 class="marker">Game Design</h3>
        <h3 class="marker">Software Testing</h3>
      </div>
    </div>
    
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class='nameTag gradientBlue'>
        <h1 style="font-family: sans-serif;">Back Ends!</h1>
        <h3 class="marker">PostGres</h3>
        <h3 class="marker">MongoDB</h3>
        <h3 class="marker">MySQL</h3>
      </div>
<!--       <h2>Databases</h2>
      <ul class="list-group">
        <li class="list-group-item">PostgreSQL</li>
        <li class="list-group-item">MongoDB</li>
      </ul> -->
    </div>

    <div class="col-md-6">
      <div class='nameTagRight gradient'>
        <h1 style="font-family: sans-serif;">Other Skills</h1>
        <h3 class="marker">VR!</h3>
        <h3 class="marker">Test Driven Development</h3>
        <h3 class="marker">3D Modeling</h3>
      </div>

<!-- 
    <h2>More Skills</h2>
      <ul class="list-group">
        <li class="list-group-item">VR</li>
        <li class="list-group-item">Test-Driven Development</li>
        <li class="list-group-item">Illustration</li>
        <li class="list-group-item">3D Modeling</li>
      </ul> -->
    </div>


  </div>

  
</div>