<div class="well">
<h1>Personal Projects</h1>

<h2>The Tower Inverted</h2>
<div class="projimg">
  <img src='../img/how.PNG'>  
</div>
<p>The Tower Inverted was meant as a FPS level building exercise where I had specific visual targets in mind, or ideas I wanted to build into a level, and spent a day or so prototyping them. I wanted to emphasize surreal landscapes and visuals, experimenting with Unity image effects and using them unconventionally to get unique images. My goal for the project were to create a set of weird FPS levels that I could iterate on quickly, and experiment on many different ideas. For this game I did all of the level creation, including 3D art, using Unity and Blender 3D. Sounds were gathered from freesound.org</p>
<h4>Press coverage</h4>
<p>"Although The Tower Inverted is, at its core, a stroll through the landscape, it is not a walking simulator. Its purpose is more specific. The game, to borrow a term from Le Corbusier, is an architectural. It is a carefully designed trip through a sequence of spaces, each level building to a specific conclusion." <a href="https://killscreen.com/articles/the-tower-inverted-still-looks-longingly-to-the-sky/">David Ruden - Kill Screen Daily</a></p>


<p>"It’s a unique and very stylish experience – an interactive piece of art filled with beautiful landscapes and spectacular sights." <a href='https://www.freegameplanet.com/the-tower-inverted-full-game-download/'>Calum Fraser - Free Game Planet</a></p>
<a href="https://hellojed.itch.io/the-tower-inverted">Project Page</a>

<h2>Press E To</h2>
<div class="projimg">
  <img src='../img/yjGQTq.jpg'>  
</div>
<p>Press E To is a very short game meant to explore game narrative presentation, game writing, and personal feelings. Press E To was made in response to a few things. Earlier that year my grandfather had passed and, months later, I was still in the mourning process. The yearly Call of Duty featured a funeral scene that was widely criticized for being atonal, so I decided to approach that moment of the game for a position of sincerity and personal experience. For this game I did all of the writing, sound design, 3D art, animation, programming, and level creation.</p>
<h4>Press coverage</h4>
<p>"Leo Burke has created a sad and wonderful little game trying to recreate actual feelings of mourning." <a href='http://www.rockpapershotgun.com/2014/11/11/mournful-meandering-press-e-to/'>Alice O'Connor - Rock Paper Shotgun</a></p>

<p>"Would you believe me if I said Press E To is actually kind of powerful?" <a href="http://kotaku.com/hold-x-to-play-this-call-of-duty-funeral-tribute-1657643421">Nathan Grayson - Kotaku</a></p>

<p>What Burke addresses in Press E To is Advanced Warfare's frigid approach to eliciting an emotional connection between a videogame character and a player." <a href='http://killscreendaily.com/articles/call-duty-doesnt-understand-grief-then-who-does/'>Chris Priestman - Kill Screen Daily</a></p>
<a href="http://hellojed.itch.io/press-e-to">Project Page</a>


<h2>776 - 778 - 780</h2>
<div class="projimg">
  <img src='../img/778.png'>  
</div>
<p>776-778-780 Is a series of small, surrealist games built in the Unity engine. I wanted to create an unconventional way to present an unconventional game narrative. I also wanted to make a game with jet-bikes. For this game I did all of the writing, sound design, 3D art, animation, programming, and level creation.</p>
<h4>Press coverage</h4>
<p>"Other low-poly artists feature the aesthetic’s seams, but here Burke gleefully rips them apart in front of our eyes." <a href='http://killscreendaily.com/articles/low-poly-3/'>Tim Schneider - Kill Screen Daily</a></p>

<p>"{...] a game – well, three games really – of such brooding weirdness that I immediately wanted to know more about this strange anthropomorphic world"<a href="http://www.pcgamer.com/2014/05/31/the-best-free-games-of-the-week-28/">Tom Sykes - PC Gamer</a></p>
<a href="http://hellojed.itch.io/776">Project Page</a>


</div>
