
<h1>Web Apps I've made</h1>

<div class="well">
<h2>Jetpack Dog JS</h2>
<div class="projimg">
  <img src='../img/jpdog2.png'> 
</div>

<br>

<div class="row">
  <div class="col-md-8">
      <h5 class="copy">At GA, our first project was to build a game. Being a bit of an old-hat, I decided to go all out and code an arcade endless-scroller shooter with javascript and Phaser, a javascript game library. This game uses a lot of the design principals I learned during my career as a game designer, and I used a lot of the skills I learned during my many game jams to quickly iterate on the game's design to create something fun to play in a short amount of time.</h5>
  </div>

    <div class="col-md-4">
      <div class='nameTagRight gradient'>
        <h1 style="font-family: sans-serif;">Tech Used!</h1>
        <h3 class="marker">Javascript</h3>
        <h3 class="marker">Phaser.io</h3>
      </div>
    </div>

</div>
  <div class="row">
      <h4><a href="https://mullfuchs.github.io/JetpackDogJS/">Link to project</a></h4>
      <br>
      <h4><a href="https://github.com/mullfuchs/JetpackDogJS">Github</a></h4>
  </div>
</div>

<div class="well">
  
<h2>KEXP Live Playlist</h2>

<div class="projimg">
  <img src='../img/playlist2.png'>  
</div>

<br>
<div class="row">
    
<div class="col-md-8">
  <b>Role: Front and Back end developer</b>
  <h5 class="copy">For one class project, we were tasked with making a full stack application using node and express. I elected to use KEXP's public song api to create a real-time playlist that allows users to listen and add songs to their profile that they like. Users can also list a particular song as their "Super favorite". This app was built with a mobile first design.</h5>
</div>

    <div class="col-md-4">
      <div class='nameTag gradient'>
        <h1 style="font-family: sans-serif;">Tech Used</h1>
        <h3 class="marker">Node.js</h3>
        <h3 class="marker">PostgreSQL</h3>
        <h3 class="marker">Express</h3>
        <h3 class="marker">Socket.io</h3>
      </div>
    </div>



</div>

<div class="row">
  <h4><a href="http://liveplaylist.herokuapp.com/">Link to project</a></h4>
  <br>
  <h4><a href="https://github.com/mullfuchs/liveplaylist">Github</a></h4>
</div>

</div>

<div class="well">
<h2>Pub Crawl</h2>
<div class="projimg">
  <img src='../img/pubcrawl2.png'>
</div>

<br>
<div class="row">
 <div class="col-md-8">
     <b>Role: Back end developer and git master</b>
  <h5 class="copy">For a group project we buit a social networking site around pub and bar crawls. Users can create an event with a start time and date, and add locations to create their own pub crawl. Other usesr can join this event. Admins mark locations off as the move from pub to pub, keeping users informed of where everyone is at any given time. The app also queries Yelp for local bars, and uses the Google API to display a map of all the locations</h5>
 </div> 

     <div class="col-md-4">
      <div class='nameTagRight gradientBlue'>
        <h1 style="font-family: sans-serif;">Tech Used</h1>
        <h3 class="marker">Ruby On Rails</h3>
        <h3 class="marker">Google Maps API</h3>
        <h3 class="marker">Bootstrap</h3>
        <h3 class="marker">PostgreSQL</h3>
      </div>
    </div>

</div>
<div class="row">
 <h4><a href="http://wdi-pub-crawl.heroku.com/">Link to project</a></h4>
<br>
<h4><a href="https://github.com/mullfuchs/pub-crawl">Github</a></h4> 
</div>


</div>